body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: grey;
}

#sidebar-pfp {
    border-radius: 10%;
    width: 100%;
    height: 100%;
}

.sidebar {
    width: 25%;
    align-content: center;
    float: left;
    background-color: dimgray;
    color: whitesmoke;
    border-radius: 5%;
}

.sidebar-info {
    align-content: left;
    padding: 5%;
}

.main-content {
    display: inline-block;
}

.navbar-list {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar-item {
    /* display: inline; */
    float: left;
}
  
.navbar-link {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar-link:hover {
    background-color: limegreen;
}
.active {
    background-color: darkgrey;
}

.navbar {
    height: 10%;
    align-content: left;
    background-color: dimgray;
    color: whitesmoke;
    border-radius: 10px;
    margin: 0 10px;
}

article {
    width: 90%;
    align-content: left;
    background-color: dimgray;
    color: whitesmoke;
    border-radius: 10px;
    margin: 10px 10px;
    padding: 10px;
}

